<h1>Welcome to Robot World/h1>

<ul>
  <li><a href="/robots">Robot Index</a></li>
  <li><a href="/robots/new">New Robot</a></li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p class="text-center">average robot age</p>
    </div>
    <div class="col-md-4">
      <p class="text-center">a breakdown of how many robots were hired each year</p>
    </div>
    <div class="col-md-4">
      <p class="text-center">number of robots in each department/city/state</p>
    </div>
  </div>
</div>