<form action="/robots" method="post">
  <p>Submit a new robot:</p>
  Name:
  <input type='text' name='robot[name]'/><br/>
  City:
  <input type='text' name='robot[city]'/><br/>
  State:
  <input type='text' name='robot[state]'/><br/>
  Avatar (url):
  <input type='text' name='robot[avatar]'/><br/>
  Birthdate:
  <input type='text' name='robot[birthdate]'/><br/>
  Date Hired:
  <input type='text' name='robot[date_hired]'/><br/>
  Department:
  <input type='text' name='robot[department]'/><br/>
  <input id = "submit" type='submit'/>
</form>